body{
    /*background-image: url('../images/pantalla1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    */
    background-color:FAFAFA;
}

.mensaje{
   
    height: 550px;
    overflow-y: scroll;
    overflow:hidden;
    position: relative;
   
    
    
}


.my-list{
     color: #000000;
     font-size: 45px;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: black;
   margin-top:550px;
   margin-bottom: 550px;
   

}
.my-list2{
    color: #000000;
    font-size: 45px;
   font-weight: bold;
   width: 100%;
   border-collapse: collapse;
   -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
  margin-top:0px;
  

}
.badge{
    /*border: 1px solid #263238;*/
}
video {
    width: 80%    !important;
    height: auto   !important;
    z-index: 10;
    position: absolute;    
    top: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
  }

  .my-list2 .tr1 {
    color:  #01579B;
    text-align: center;
    background-color: #EEEEEE;
    font-size: 30px;

    -webkit-text-stroke-width: 0px;
}


.my-list2 .tr2 {
    color: #FFFFFF;
    text-align: center;
    background-color: #01579B;
    -webkit-text-stroke-width: 0px;
    
   
}


.my-list td, th {
    border: 1px solid rgba(41, 44, 44, 0.3);
    text-align: left;
    padding: 7px;
}

.my-list tr:nth-child(even) {
    background-color: rgba(41, 44, 44, 0.3);
}