.customers {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
    color: #000;
}

.customers td, .customers th {
    border: 1px solid #dddddd;
    padding: 1px;
    color: #000;
}

.customers tr:nth-child(even){background-color: #FFFFFF;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 10px;
    padding-bottom: 2px;
    text-align: left;
    background-color: #5da2d6;
    color: white;
}


.titulo1{
    font-size: 9px;
}
