                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-20">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-shopping-cart f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 id="dash_inicio1">0</h2>
                                    <p class="m-b-0 info_unidad">Transferencias Pendientes</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  p-20" >
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-edit f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 id="dash_inicio2">0</h2>
                                    <p class="m-b-0 info_unidad">Turnos sin Cerrar</p>
                                </div>
                            </div>
                        </div>
                    </div>                  
                    <div class="col-md-3">
                        <div class="card  p-20" >
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2 id="dash_inicio3">0</h2>
                                    <p class="m-b-0 info_unidad_user">Turno Pendiente</p>
                                    <p class="m-b-0" id="info_unidad_user"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card  p-20">                           
                                <div class="media">
                                    <div class="media-left meida media-middle">
                                        <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                    </div>
                                    <div class="media-body media-text-right">
                                        <h2 id="dash_inicio4">0</h2>
                                        <p class="m-b-0 info_unidad">Recetas Realizadas Hoy</p>
                                    </div>
                                </div>                            
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title info_unidad">Lotes Próximos a Caducar</h4>
                                <div class="table-responsive">
                                    <table id="tb_lote_caduca" class="display compact table-hover table-striped " cellspacing="0" width="100%">
                                        <thead>
                                            <tr>                                                                                               
                                                <th>Producto</th>
                                                <th>LOTE</th>                                               
                                                <th>Caduca</th>
                                                <th>Estado</th>                                                
                                            </tr>
                                        </thead>                                                                             
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title info_unidad">Turnos Abiertos</h4>
                                <div class="table-responsive">
                                    <table id="tb_turnos_abiertos" class="display compact table-hover table-striped" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>                                                                                               
                                                <th>Usuario</th>
                                                <th>Desde</th>
                                                <th>Hasta</th>
                                                <th>Turno</th>
                                                <th>Recetas</th>
                                            </tr>
                                        </thead>                                                                             
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                  
                <div class="row">
                      <!--
                        <div class="col-lg-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Conectados</h4>
                                        <div class="recent-comment">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#"><img alt="..." src="assets/images/users/5.jpg" class="media-object"></a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading" style="margin: 0;padding:0">Usuario 1</h4>        
                                                        <p style="padding:0;margin: 0">en Dosis</p>                                                
                                                       
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title info_unidad">Movimientos Productos Salidas</h4>
                                    <div id="morris-line-chart"></div>
                                </div>
                            </div>
                        </div>
                </div>

                

              
              
               
               

                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->


           